.profile__title {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
    grid-area: profile__title;
    justify-self: flex-start;
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile__title {
        font-size: 27px;
        line-height: 27px;
        text-align: center;
        justify-self: flex-end;
        max-width: 189px;
    }
}
