.element {
    display: grid;
    padding-right: 17px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .element {
        justify-self: center;
    }
}
.element:nth-of-type(3n){
    padding-right: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .element:nth-of-type(3n){
        padding-right: 0px;
    
    }
    }
@media screen and (min-width: 768px) and (max-width: 1023px) {
.element:nth-of-type(3n){
    padding-right: 17px;

}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .element {
        padding-right: 0;
    }
}
