.popup__registration-image-status {
    width: 120px;
    height: 120px;
    margin-bottom:  32px;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 60px;
  }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .popup__registration-image-status {
        margin-left: 28.5%;
        margin-right: 28.5%;
       
    }
}
